<div>
  <h2 id="page-heading" data-cy="FormsHeading">
    <span jhiTranslate="cynapseTechApp.forms.home.title">Forms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cynapseTechApp.forms.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-forms"
        [routerLink]="['/forms/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cynapseTechApp.forms.home.createLabel"> Create a new Forms </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="forms?.length === 0">
    <span jhiTranslate="cynapseTechApp.forms.home.notFound">No forms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="forms && forms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.name">Name</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.cynapseId">Cynapse Id</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.emailId">Email Id</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.phoneNumber">Phone Number</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.referalCode">Referal Code</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.formDocument">Form Document</span></th>
          <th scope="col"><span jhiTranslate="cynapseTechApp.forms.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let forms of forms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/forms', forms.id, 'view']">{{ forms.id }}</a>
          </td>
          <td>{{ forms.name }}</td>
          <td>{{ forms.cynapseId }}</td>
          <td>{{ forms.emailId }}</td>
          <td>{{ forms.phoneNumber }}</td>
          <td>{{ forms.createdDate | formatMediumDate }}</td>
          <td>{{ forms.referalCode }}</td>
          <td>
            <a *ngIf="forms.formDocument" (click)="openFile(forms.formDocument, forms.formDocumentContentType)">
              <img
                [src]="'data:' + forms.formDocumentContentType + ';base64,' + forms.formDocument"
                style="max-height: 30px"
                alt="forms image"
              />
            </a>
            <span *ngIf="forms.formDocument">{{ forms.formDocumentContentType }}, {{ byteSize(forms.formDocument) }}</span>
          </td>
          <td>
            {{ forms.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/forms', forms.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/forms', forms.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(forms)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
